# Dependencies
node_modules

# Build artifacts
dist
coverage

# Environment & secrets
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Editor & OS
.DS_Store
*.log
.vscode

# Docker
Dockerfile
.dockerignore

# Tests
tests
*.test.js
jest.config.*
